<div class="background">
  <div class="header">
    <div class="logo">SISVITA</div>
    <div class="header-center">
      <marquee scrollamount="9px">
        <h1>FISI-Ingeniería de Sistemas</h1>
      </marquee>
    </div>
    <div class="unmsm-logo">
      <img src="assets/unmsm.png" alt="user">
      <span>UNMSM</span>
    </div>
  </div>
  <div class="login-box">
    <div class="user-icon">
      <img src="assets/usuario.png" alt="user">
    </div>
    <h2>Paciente</h2>
    <form (ngSubmit)="onLogin()">
      <div class="input-group">
        <i class="fa fa-user"></i>
        <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required>
      </div>
      <div class="input-group">
        <i class="fa fa-lock"></i>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
      </div>
      <button type="submit">Login</button>
      <div class="register-link">
        <a routerLink="/registrar-paciente">¿No tienes cuenta? Regístrate</a>
      </div>
    </form>
  </div>
</div>
