html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.menu-estudiante {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #cccccc;
}

.header-bar {
  background-color: #004d5c;
  padding: 10px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  white-space: nowrap;
}

.logo img {
  width: 50px;
  height: auto;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.sidebar {
  background-color: #004d5c;
  color: #fff;
  width: 250px;
  min-height: 100vh;
  padding: 20px 10px;
  position: fixed;
  border-right: 10px solid #fff;
  margin-top: 6rem;
  left: 0;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
}

.user-icon img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details p {
  margin: 0;
}

.menu-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-options li {
  margin: 10px 0;
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
}

.menu-options a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.menu-options a:hover {
  background-color: #067ba3;
}

.logout a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-top: 20px;
}

.logout a:hover {
  text-decoration: underline;
}

.main-content {
  margin-left: 270px;
  padding: 100px;
  background-image: url('/assets/fondo_estudiante.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  min-height: 100vh;
  margin-top: 0;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 8rem;
}

.welcome-content {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.welcome-content img {
  margin-top: 20px;
  height: 20rem;
}

.realizar-test {
  margin-top: 10rem;
  margin-left: 20rem;
}

.test-header {
  display: flex;
  justify-content: center;
  background-color: #004d5c;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.test-header h2 {
  margin: 0;
}

.test-content {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  width: 80%;
  margin: 2rem auto;
}

.datos-test {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.datos-test label {
  font-weight: bold;
  margin-right: 10px;
}

.datos-test input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.datos-test .nombres,
.datos-test .apellidos {
  width: calc(40% - 20px);
}

.datos-test .cantidad-preguntas {
  width: calc(20% - 20px);
}

.test-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.test-table th,
.test-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.test-table th {
  background-color: #004d5c;
  color: #fff;
  text-align: center;
}

.test-table td {
  vertical-align: middle;
}

.test-table label {
  margin-right: 15px;
}

.test-button {
  background-color: #004d5c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.test-button:hover {
  background-color: #067ba3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit-button {
  background-color: #004d5c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0 auto;
}

.submit-button:hover {
  background-color: #067ba3;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 20px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
